html,body,#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#customPopup {
  position: absolute;
  z-index: 1;
  top: 80px;
  right: 10px;
  height: 200px;
  width: 300px;
  background-color: aqua;
  border-radius: 5px;
  opacity: 0.6;
}